/* 반응형 웹을 만들 때 권장하는 단위
    %, em, rem, vh, vw
    (화면 크기에 따라 변하는 단위) */

/* 레이아웃 */
* {
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Gugi', cursive;
    background-color: #003911;
    height: 10vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: sticky;
}

main {
    background-color: #d4e8d0;
    height: 90vh;
    /* 스크롤 되는 앱의 경우 main높이는 디폴트로 놔둬야함 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > section {
    display: flex;
    flex-direction: column;
}

button {
    font-family: 'Stylish', sans-serif;
    display: inline-block;
    margin: auto;
    width: 50vw;
    max-width: 300px;
    height: 20vw;
    max-height: 100px;
    border: none;
    border-radius: 35px;
    font-size: 1.5rem;
}

.bt1 {
    background-color: #a8d473;
}

.bt2 {
    background-color: #c3f18c;
}

button:hover, button:active {
    background-color: #0f2000;
    color: #c3f18c;
}

@media only screen and (max-width:200px) and (max-height:50px) {
    button {
        flex-direction: column;
        height: auto;
    }
}